'packages': [
  'aligner'
  'aligner-css'
  'aligner-ruby'
  'aligner-scss'
  'autocomplete-emojis'
  'autocomplete-plus'
  'autocomplete-snippets'
  'cut-line'
  'language-haml'
  'language-slim'
  'package-sync'
  'rails-transporter'
  'seti-ui'
  'sort-lines'
  'symbols-tree-view'
  'toggle-quotes'
]
